:root{
    --color-backgrounds:#293462;
    --color-bar:#EC9B3B;
    --color-bottoms:#F24C4C;
    --color-articules:#F7D716;
}


@media only screen and (max-width:1300px){
    #navbar-options {
        width: 90%;
    }
    
}
@media only screen and (max-width: 1198px) {
    #header {
        font-size: 1em;
    }
    .about-me__text-content-h2 {
        font-size: 2em;
    }
    .about-me__text-content-p {
        font-size: 1em;
    }
    .card img {
        height: 343px;
    }
    div .card {
        width: 22rem !important;
    }
    .about-skills__item {
        margin: 20px;
    }
    .about-skills__title {
        width: 38%;
    }

}

@media only screen and (max-width: 1021px) {
    #about-skills {
        height: 1200px;
    }
    #projects {
        height: 1300px;
    }
}


@media only screen and (max-width: 1010px) {
    #navbar {
        padding: 0;
    }
    #knowledge {
        height: 900px;
    }
}

@media only screen and (max-width: 1000px) {
    #navbar {
        padding: 0;
        display: inline-block;
        width: 100%;
    }
    #arrow, #dev{
        display: inline-block;
    }
    .container-logo{
        display: inline-block;
        margin: 0 30%;
    }
    .logo{
        justify-content: center;
        font-size: 2em;
    }
    
    .typewriter {
        margin: 0 10px auto; 
        animation: 
          typing 1.5s steps(35, end),
          blink-caret .75s step-end 4;
          border-right: .15em solid transparent;
      }
     
    
      @keyframes typing {
        from { width: 0 }
        to { width: 100%}
      }
      #navbar-options{
        display: flex;
        justify-content: center;
      }


}


@media only screen and (max-width: 870px){
    #navbar{
        display: none;
    }
    #mobile-navbar{
        display: block;
        background-color: var(--color-bar);
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 40%}
      }
      .offcanvas{
        background-color: var(--color-bar);
      }
      .logo p {
        font-size: 20px;
        margin: 0;
    }
    .arrow, .dev{
        margin-top: 4px;
    }
        
    .screen-transparent{
        width: 100vw;
    }
    .first-view__content {
        width: 90%;
    }
    .first-view__content-text {
        font-size: 1.6em;
    }
    .about-skills__title {
        width: 60%;
        font-size: 2em;
    }
    #about-me .about-me{
        flex-direction: column;
    }
    .about-me__text{
        width: 99%;
    }
    .about-me__text-content-h2 {
        font-size: 1.4em;
    }
    .about-me__text-content-p {
        font-size: .8em;
        margin: 0;
    }
    .about-me__text {
        padding-left: 0;
        padding: 15px;
    }
    .complete-view {
        height: 527px;
    }
    .about-me__img{
        width: 100%;
    }
    .about-me__img-container{
        width:83%;
    }
    .card img{
        height: 250px;
    }
    .card-title{
       font-size: 18px;
    }
    .card-text:last-child {
        font-size: 15px;
    }
    .display{
        display: none;
    }
    
    /****galeria****/

    .projects__container{
        grid-template-columns: repeat(2 , 1fr);  
    }

}

@media only screen and (max-width: 790px){

}

@media only screen and (max-width: 765px){
    .about-me__img-container {
        width: 80%;
    }
    .card img {
        height: 222px;
    }
    .card-text:last-child {
        font-size: 13px;
    }
    #about-skills {
        height: 1464px;
    }
    .about-skills__title {
        font-size: 3em;
    }
    .about-skills__container {
        align-content: flex-end;
        justify-content: center;
    }
    #knowledge {
        height: 1300px;
    }
}

@media only screen and (min-width: 700px){
    #about-me .about-me {
        flex-direction: row;
    }
    .display{
        display: block;
    }


}


@media only screen and (max-width: 699px){
    .i-container {
        padding: 0px;
    }
    .about-skills__item {
        margin: 12px;
    }
    .complete-view {
        height: 295px;
    }
    #about-skills {
        height: 728px;
    }
    .about-me__img {
        width: 100%;
        padding-bottom: 30px;
    }
    .about-me__text {
        justify-content: end;
        padding: 0 15px;
    }
    .about-skills__container {
        justify-content: space-evenly;
    }
    .projects__container {
        grid-template-columns: repeat(3 , 1fr);
        gap: 13px;
    }
    .about-skills {
    justify-content: flex-start;
    }
    .about-skills__title {
        width: 76%;
        margin-top: 20px;
    }
    .about-skills__item {
        width: 90px;
        height: 146px;
        margin: 20px 0;
    }
    #projects {
        height: 643px;
    }
    #projects h1 {
        text-align: center;
        font-size: 2em;
    }
    .projects__container {
        grid-auto-rows: 130px;
    }
    [class*="icon-"] {
        font-size: 1.7em;
    }
    section h3{
        font-size: 18px;
    }
    #knowledge {
        height: 1100px;
    }
    .academic-cards__container h3, .experience-cards__container h3 {
        font-size: 2em;
    }
    .h4, h4 {
        font-size: calc(1rem + .3vw);
    }
    .academic-card, .experience-card {
        font-size: 1em;
    }
    .about-skills__title {
        font-size: 2em;
    }
    div .project__item__card-second{
        display: none;
      }
    
      @media only screen  and (max-width:358px){
        #knowledge {
            height: 1200px;
        }
      }

}
/***********    SOLUCIÓN PROBLEMA POSICIÓN HORIZONTAL EN MOBILE     ***********/

@media only screen and (max-height: 450px) and (max-width: 900px){
    #navbar{
        display: none;
    }
    #mobile-navbar{
        display: block;
        background-color: var(--color-bar);
    }
    .first-view__content-text {
        font-size: 1.8rem;
    }
    .about-me__text {
        padding-left: 22px;
    }
    .card img {
        height: 270px;
    }
    .about-me__text-content-h2 {
        font-size: 1.2em;
    }
    .logo p {
        font-size: .8em;
        padding: 8px 6px 0 4px;
    }
    .card-title, .card-text{
        display: none;
    }
    .arrow, .dev{
        margin-top: 0;
    }
    .navbar{
        padding: 0;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 33%}
      }


}

