/*******COLORES********/
:root{
    --color-backgrounds:#293462;
    --color-bar:#EC9B3B;
    --color-bottoms:#F24C4C;
    --color-articules:#F7D716;
}

/********FONTS*******/
@font-face {
    font-family: 'mukta';
    src: url(../font/mukta/Mukta-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vt323';
    src: url(../font/VT323/VT323-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: var(--color-backgrounds);
}


/****ARROW*****/
.to-up{
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: var(--color-bar);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: .5s;
}

.to-up:hover{
    border-radius: 25px;
}
/*DESKTOP VIEW*/
#header{
    position: absolute;
    width: 100%;
    background-color: var(--color-bar);
    font-family: 'mukta';
    font-size: 1.2em;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: rgb(23, 32, 101);
}

#navbar-options{
    display: flex;
    justify-content: space-around;
    width: 70%;
  }


/***MOBILE VIEW***/

/***LOGO Y SU ANIMACIÓN****/
#mobile-navbar{
    display: none;
}

.logo{
    display: flex;
    flex-direction: row;
}
.logo p{
    display: inline-block;
    font-size: 1.4em;
    padding: 14px 6px 0 4px;
    user-select: none;
}

.arrow, .dev{
    margin-top: 18px;
}

.arrow{
    margin-right: -4px;
}

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

  .visible{
    display: none;
  }

.typewriter {
    overflow: hidden; 
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 10px auto; 
    letter-spacing: .15em; 
    animation: 
      typing 1.5s steps(35, end),
      blink-caret .75s step-end 5;
      border-right: .15em solid transparent;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }

/*******OPCIONES DE NAVBAR*******/
#about__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#about__list,#contact{
    padding: 14px 6px;
}
#about__list a, #contact a{
    display:inline-block;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: rgb(23, 32, 101);
    transition-duration: .5s;
}

#about__list a:hover{
    color: var(--color-articules);
    background-color: #293462;
}

#contact a:first-child:hover{
    color: aliceblue;
    background: #f4ff00;
background: linear-gradient(47deg,#f4ff00 10%, #ff00d0 70%);
background: -webkit-linear-gradient(47deg,#f4ff00 10%, #ff00d0 70%);
background: -moz-linear-gradient(47deg,#f4ff00 10%, #ff00d0 70%);
}

#contact a:nth-child(2):hover{
    color:whitesmoke ;
    background-color: hsl(210deg 90% 40%);
}

#contact a:last-child:hover{
    color: var(--color-articules);
    background-color: #293462;
}

/******FIRST VIEW******/
#background-video video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.screen-transparent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.805);
    }

    .first-view{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.first-view__content{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-height: 30%;
        font-family: 'vt323' ;
        color: rgb(211, 113, 0);
        text-shadow: 1px 1px #e41a1a;
        border-radius: 10px;

    }

    .first-view__content-text{
        display: none;
    }

    .first-view__content-title{
        width:45%;
        text-align: center;
        font-size: 6rem;
    
    }